@charset "utf-8";
/* CSS Document */

body{
font-family: 'Open Sans';
font-weight:normal;
font-size:14px;
font-style:normal;
color:#000;
}
a{
color:#333;	
}
a:hover,a:focus{
text-decoration:none;
color:#000;
outline:none;
}
.wrap{
width:95%;
margin:0 auto;	
}
header{
border-bottom: 1px solid #a6a6a6;
display: table;
width: 100%;
padding-bottom: 10px;
/*overflow:hidden;*/
}
.logo{
margin-top: 10px;	
}
.login-div{
	height: 34px;
}
.register{
	position:absolute;
	top:0;
	right:0;
	margin-left:8px;
	background:#666666;
	padding:4px 20px 10px;
	border-radius:0 0 3px 3px;
	color:#fff;
	font-weight:600;
	-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
.register:hover{
	padding:10px 20px 10px;
	color:#fff;
	text-decoration:none;
}
.join{
	position:absolute;
	top:0;
	right:158px;
	background:#000;
	padding:4px 20px 10px;
	border-radius:0 0 3px 3px;
	color:#fff;
	font-weight:600;
	-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
.join:hover{
	padding:10px 20px 10px;
	color:#fff;
	text-decoration:none;
}
.join:focus{
	color:#fff;
	text-decoration:none;
	outline:none;
}

.login
{
	font-size:15px !important;
	color:#000 !important;
	font-weight:normal !important;
	float:none !important;
	opacity:1 !important;
}

.cart{
margin-top: 13px;
float:right;
}
.cart-icon{
float:right;
background:url(../../img/lifestyle/cart-icon.png) no-repeat center center;
color:#fff;
width:46px;
height:46px;
text-align:center;
padding-top: 23px;

	
}
.cart-icon:hover , .cart-icon:focus{
	color:#fff;
-webkit-transition: all 5s ease;
-moz-transition: all 5s ease;
-ms-transition: all 5s ease;
-o-transition: all 5s ease;
transition: all 5s ease;
}

.search-part
{
	margin-top:13px;
}

.search-part .form-inline{
float: right;
margin: 23px 30px 0 0;

}

.search-part .form-inline .form-control{
border: 1px solid #ccc;
background: #eeeeee;
box-shadow: none;
border-radius: 0;
border-left: 0;
padding-left: 0;	
}


.search{
    padding: 10px 0;
}

.search-part .form-inline .input-group-addon {
padding: 4px 6px;
font-size: 20px;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 0;
border-right: 0;
}
.modal-header{
	background:#dfa810;
	color:#000;
	padding-left: 30px;
}
.modal-header .close {
margin-top: -4px;
font-size: 32px;
opacity: 1;
font-weight: normal;
}
.modal-body{
	background: #f9f9f9;
padding: 35px 40px;
}
#join-modal .modal-body .form-control , #login-modal .modal-body .form-control{
	border-radius:0;
}
#join-modal .modal-body .form-group , #login-modal .modal-body .form-group {
margin-bottom: 20px;
}
#join-modal .modal-body .login-link a , #login-modal .modal-body .login-link a{
	text-decoration:underline;
	color:#000;
}

.login-icon img
{
	margin-right:10px;
}

.log-btn{
width: 100%;
border-radius: 0;
border: 3px solid #fff;
background: #000;
color: #fff;
-webkit-box-shadow: 0 0 0 1px #000000;
box-shadow: 0 0 0 1px #000000;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
font-weight:600;
text-transform:capitalize;
}
.log-btn:hover{

border-radius: 0;
border: 3px solid #000;
background: #fff;
color: #000;
-webkit-box-shadow: 0 0 0 1px #fff;
box-shadow: 0 0 0 1px #fff;	
font-weight:600;
}
.navbar-collapse{
	padding:0;
}
.navbar-default{
background:none;
border:0;	
}
.nav > li > a {
position: relative;
display: block;
padding: 10px 5px;
font-weight: 600;
font-size: 13px;
color:#333 !important;
text-transform:uppercase;
}
.nav > li > a img{
	margin-right: 3px;
}
.navbar{
min-height:20px;
margin:0;	
}


.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.carousel-indicators li{
background:#fff;
-webkit-box-shadow:inset 1px 0px 3px 0 #000000;
box-shadow:inset 1px 0px 3px 0 #000000;	
border:0;
width: 12px;
height: 12px;
margin: 0px;
}
.carousel-indicators .active {
background-color: #000;
box-shadow: none;
}
.carousel-indicators {
bottom: 0;
}



.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
}


.wp2 , .wp4 , .wp3
{
	visibility:hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight
{
	visibility:visible;
}

.footer
{
	background:#000;
	padding:20px 0;
	margin-top:20px;
}

.ul-title
{
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	font-weight:700;
	line-height:30px;
}

.footer .nav > li > a
{
	color:#fff !important;
	text-transform:uppercase;
	font-weight:normal;
	font-size:13px;
	line-height:0;
}

.footer .nav-pills > li.active > a, .footer .nav-pills > li.active > a:hover, .footer .nav-pills > li.active > a:focus
{
	background:none;
	color:#ebb414 !important;
}

.footer .nav > li > a:hover, .footer .nav > li > a:focus
{
	background:none;
	color:#ebb414;
}

.isocial
{
	margin-bottom:0;
}

ul.isocial li
{
	float:left;
	width:28px;
}

ul.isocial li a {
  background-image:url(../../img/lifestyle/social.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  height: 29px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 28px;
}

ul.isocial li a.linkdin {
  background-position: -56px 0;
}

ul.isocial li a.linkdin:hover {
  background-position: -56px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.instagram {
  background-position: -84px 0;
}

ul.isocial li a.instagram:hover {
  background-position: -84px -27px;
 -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.google {
  background-position: -112px 0;
}

ul.isocial li a.google:hover {
  background-position: -112px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.twitter {
  background-position: -28px 0;
}

ul.isocial li a.twitter:hover {
  background-position: -28px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.face {
  background-position: 0 0;
}

ul.isocial li a.face:hover {
  background-position: 0 -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.download
{
	font-size:12px;
	text-transform:uppercase;
	color:#fff !important;
	width:100%;
	text-align:right;
	padding:0;
	margin:0;
}

.download a
{
	color:#fff !important;
}



.cart-list
{
	right:0 !important;
	min-width:220px;
	height:425px;
	overflow-x:hidden;
	overflow-y:scroll;
	padding:10px;
	width:70%;
	left:auto;
	top:100px;

	
}

.cart-list li
{
	border-bottom:1px solid #ccc;
	float:left;
	width:100%;
	padding:10px 0;

}

.cart-img
{
	height:115px;
	overflow:hidden;
	border:1px solid #ccc;
}

.cart-img img
{
	width:100%;
}

.drop-name
{
	font-size:16px;
	font-weight:600;
	color:#000;
	text-decoration:underline;
	text-transform:capitalize;
	width:100%;
	float:left;
	margin-bottom:12px;
}

.cart-price , .cart-qt
{
	font-size:14px;
	color:#333;
	width:100%;
	float:left;
	text-transform:uppercase;
	line-height:10px;
}

.view
{
	color:#000;
	text-align:center !important;
	text-transform:uppercase;
}

.view a
{
	text-align:center;
	font-weight:600 !important;
}

.view a:hover
{
	background:none !important;
}
#message-modal .modal-sm , #join-modal .modal-sm , #login-modal .modal-sm 
{
	width:32%;
}
.main-nav{
	background:#f2f2f2;
	color:#333;
	text-transform:capitalize;
	font-size:14px;
	border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #0b8fa4;
	z-index:1;

	
}
.main-nav .navbar-nav{
display:table;	
width:100%;
}
.main-nav .navbar-nav > li{
	padding:0 10px;
}
.main-nav .navbar-nav > li > a{
text-align:center;
color:#333 !important;
text-transform:capitalize;
font-size:16px;
font-weight:600;
padding:10px 13px;
height:45px;	
}

.main-nav .navbar-nav > li > a i
{
	font-size:22px;
	color:#0b8fa4;
}

.main-nav .navbar-nav > li > a:hover{
text-align:center;
color:#fff !important;
background:#0b8fa4;	
}

.main-nav .navbar-nav > li > a:hover i
{
	color:#fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{
	background:#0b8fa4 !important;
	color:#fff !important;
}

.main-nav .dropdown-menu
{
	background:#f2f2f2;
}

.main-nav .dropdown-menu > li > a
{
	color:#333;
}

.main-nav .dropdown-menu > li > a:hover, .main-nav .dropdown-menu > li > a:focus
{
	background:#0b8fa4 !important;
	color:#fff !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background:#0b8fa4 !important;
	color:#fff !important;
}

.bg{
	background:url(../../img/lifestyle/bg.jpg) no-repeat !important;
	width:100%;
	-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
-ms-background-size: 100%;
background-size: 100%;

}
.bg h1{
text-align:center;
color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:46px;
	font-weight:bold;
	text-shadow: 1px 1px 18px #000000;
}
.bg h5{
text-align:center;
color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:normal;
	text-shadow: 1px 1px 18px #000000;
}
.search-bg{
	background-color: rgba(0, 0, 0, .59);

color: rgba(0, 0, 0, .59);
padding:10px;
width:62%;
float:right;
margin:150px auto 170px;
}

.rent-txt{
border-radius: 0;
width: 70%;
float: left;
margin-right: 2%;	
}
.rent-btn{
border-radius: 0;
width: 27%;
margin-right: 1%;
background:#f5c823;
color:#fff;
text-transform:uppercase;
font-size:18px;
font-weight:600;	
}

.header-center{
background:url(../../img/lifestyle/line.jpg) repeat-x center center;
text-align:center;
margin-top: 30px;
margin-bottom:20px;	
}
.header-center h1{
color:#0b8fa4;
	background:#fff;
	display:inline-block;
	margin: 0;
padding: 0 15px;
font-size:18px;
font-weight:bold;
text-transform:uppercase;
}
.place{
	background:#fff;
	margin-bottom: 30px;
	border:1px solid #ccc;
	position:relative;
	min-height:290px;
	text-align:center;
	overflow:hidden;
	line-height:244px;
}


.place .title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
  position:absolute;
  bottom:0;
  text-align:left;
  width: 100%;
}

.place .title span
{
	float:right;
	color:#0b8fa4;
    right: 10px;
    position:absolute;
}
.place img{
max-height: 215px;	

max-width:100%;

}

.search .form-horizontal .control-label{
    text-align: left;
	font-weight:600;
	text-transform:capitalize;
}


.slider .carousel-indicators
{
	display:none;
}

.carousel-control.left {
  left: -90px;
  opacity: 1;
}

.carousel-control.right {
  opacity: 1;
  right: -90px;
}



.slider-tabs .nav-tabs li{
margin-right:5px;	
}
.slider-tabs .nav-tabs li.active a{
	border-radius: 0;
border: 0;
background: #dfdede;
padding: 10px 40px;
font-size: 18px;
text-transform: capitalize;
font-weight: 600;
color:#323332 !important;
}
.slider-tabs .nav-tabs li a{
	border-radius: 0;
border: 0;
background: #27ae61;
padding: 10px 40px;
font-size: 18px;
text-transform: capitalize;
font-weight: 600;
color:#fff !important;
}
.slider-tabs .tab-pane #slider{
background: #dfdede;
padding: 10px;
margin-bottom: 10px;
}
.slider-tabs #map{
	background: #dfdede;
padding: 10px;
margin-bottom: 10px;
}

.details-tabs
{
	margin-top:10px;
}

.details-tabs .nav-tabs li{
	float:left;
	margin-right:5px;
}
.details-tabs .nav-tabs li.active a{
border-radius:3px;
-webkit-border-radius:3px;	
border: 0;
background:#f5c823;
padding: 10px 6px;
font-size: 16px;
text-transform: capitalize;
font-weight:normal;
color:#fff !important;
}
.details-tabs .nav-tabs li a{
border-radius:3px;
-webkit-border-radius:3px;
border: 0;
background:#0b8fa4;
padding: 10px 45px;
font-size: 16px;
text-transform: capitalize;
font-weight:normal;
color:#fff !important;
margin:0;
}
.main_item_name {
    color: #000000;
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    text-transform: uppercase;
}
.main_item_price {
    color: #666666;
    display: inline-block;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}
.main_item_specs {
    border: 2px solid #999999;
    float: left;
    margin-bottom: 30px;
    padding: 20px 4%;
    width: 100%;
}
.main_item_specs form{
 float: left;
    width: 100%;
}
.item_specs_lbl {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
}
.details-tabs .tab-pane{
background: #fff;
padding: 10px;
margin-bottom: 10px;
width:100%;
float:left;
}

.details-tabs .details{
	font-size:15px;
	color:#353434;
	float: left;
width: 100%;
border-bottom:1px solid #9b9797;
padding-bottom: 10px;
}
.details-tabs .details:last-child{
border:0;	
}

.details-tabs .details .title{
font-weight:600;
font-size:18px;	
}
.details-tabs .details h6{
margin:10px 0;
line-height: 1.4;
font-size:16px;
}

.details-tabs .nav-tabs
{
	border:0;
}

.review-bt
{
	background:#0b8fa4;
	color:#fff;
	font-size:16px;
	
}

.review-bt:hover , .review-bt:focus
{
	color:#f5c823;
	color:#fff;
}


.one_review{
	border-bottom:1px solid #9b9797;
display: inline-block;
padding-bottom: 10px;
margin-bottom: 10px;
}
.rev_user_img{
	width:100%;
}
.rev_user_img img{
	width:100%;
}
.rev_username{
	width:100%;
	font-size:10px;
	overflow:hidden;
	float: left;
}
.rev_txt{
	font-size:14px;
}
.rev_date{
	margin-bottom:0;
}

.carousel-control.left{
	background-image:none;
	background:none;
	line-height: 240px;
}
.carousel-control.right{
	background-image:none;
	background:none;
	line-height: 240px;
}
.carousel-control{
filter: alpha(opacity=80);
opacity: .8;

}

.buy-bt
{
	float:right;
	background:#333;
	color:#fff;
	text-transform:capitalize;
	font-size:16px;
	border-radius:0;
	-webkit-border-radius:0;
	padding:10px 60px;
	border:0;
}
.new_arriv_slider{
width: 100%;
float: left;
}

.page_path {
  float: left;
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  margin-bottom:10px;
}

.page_path li {
  float: left;
  margin: 0 5px;
}

.page_path li a {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.page_path li a:hover, .page_path li a:focus, .page_path li.active a, .page_path li.active a:hover {
  color: #0b8fa4;
  text-decoration: none;
}

.panel-default > .panel-heading {
  background: none repeat scroll 0 0 #fff;
  border-radius: 0;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-transform:uppercase;
}

.left-menu
{
	padding:0 15px;
}

.left-menu .nav > li > a {
  color: #000 !important;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 5px 5px 0;
  text-transform: none;
}

.left-menu .nav > li > a:hover
{
	background:none;
}

.head {
  background: none repeat scroll 0 0 #333;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
}

.sorting {
  background: none repeat scroll 0 0 #eee;
  color: #333;
  float: left;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom:20px;
}

.sorting select {
  background: none repeat scroll 0 0 #fff;
  border: 0 none;
  font-size: 14px;
  height: 30px;
  line-height: 20px;
  margin-left: 10px;
  padding: 0 10px;
  width: 180px;
}

.sorting .pagination {
  margin: 0;
}

.amount input {
  border: 0 none;
  color: #0b8fa4;
}

.toggle-div1{
display:none;
margin:0;

}
.toggle-div2{
display:none;
margin:0;

}
.toggle-div3{
display:none;
margin:0;

}
.toggle-div1.open{
display:block;
		
}
.toggle-div2.open{
display:block;	

}
.toggle-div3.open{
display:block;
	
}

.toggle-div3 .table {
  float: left;
  line-height: 50px;
  margin: 36px 0;
 
}

.toggle-div3 .table td a {
  color: #0b8fa4;
}



.toggle-div3 .table td span, .toggle-div3 .table td a {
  line-height: 100px;
}

.toggle-div3 .table td span
{
	margin-left:5px;
}

.toggle-div3 .table .item-img {
  display: inline-block;
  height: 100px;
  line-height: 50px;
  overflow: hidden;
 
}

.toggle-div3 .table .item-img img
{
	width:50%;
}

.amount {
  margin-top: 10px;
}

.toggler.active {
  color: #0b8fa4;
}

.toggler {
  color: #fff;
  margin: 0 2px;
}

.toggler:hover
{
	color:#ccc;
}

.zoomContainer {
  border: 1px solid #333 !important;
  
}

#gallery_01 img {
  border: 1px solid #bba87d !important;
  margin-top: 10px;
}

.zoom-slider
{
	margin-top:10px;
}

.pagination > li > a, .pagination > li > span {
  background: none repeat scroll 0 0 #333333;
  border: 0 none;
  border-radius: 0 !important;
  color: #fff;
  font-size: 12px;
  margin: 0 2px;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus
{
	background:#0b8fa4 !important;
	color:#fff !important;
}

.product-row
{
	margin-top:10px;
	padding:0;
	
}



.slider_details
{
	margin-top:10px;
	padding:0;
}

.slider_details .carousel-inner > .item > img, .slider_details .carousel-inner > .item > a > img
{
	border:1px solid #666;
	width:100%;
}

.thumbs {
  margin: 10px 0;
}

.thumbs li a img
{
	border:1px solid #666;
}
.slider-zoom{
    
    max-width:525px;
}
.latest-product{
	float: left;
margin: 23px 0 0 0;
border: 1px solid #ccc;
padding: 6px 37px;

}

.latest-product .dropdown-menu{
top: 14px;
left: -78px;
}
.latest-product .dropdown-menu a img{
width: 50px;
height: 50px;
margin-right: 10px;
}
.ads a{
height: 200px;
overflow: hidden;
margin-bottom: 20px;
margin-top: 20px;
}
.ads a img{
width: 100%;

}
@media (min-width: 768px) and (max-width: 991px){
.modal-sm {
width: 400px;
margin: 70px auto;
}

.footer ul , .appear
{
	display:none !important;
}

.footer .logo
{
	text-align:center !important;
	margin:0 0 10px !important;
}

.download
{
	text-align:center !important;
}

.download p
{
	line-height:25px !important;
}

.register-bt
{
	
	margin-bottom:20px !important;
}

.add_fav
{
	left:125px !important;
}

.search-part .form-inline
{
	margin:23px 10px 0 0 !important;
}

.cart-img
{
	display:none !important;
}

.nav.profile-menu > li > a
{
	font-size:16px !important;
}

#password-modal .modal-sm
{
	width:43% !important;
}

.profile-name span
{
	font-size:14px !important;
}

.profile-name span img
{
	margin-right:2px !important;
}

.profile .prod-box
{
	width:49% !important;
}

.status
{
	width:60% !important;
}

.profile-menu .shipping-collaps a
{
	font-size:16px !important;
}

.msg-img
{
	width:18% !important;
}

.gallery-btns .edit-bt
{
	margin-top:0 !important;
}

.gallery-btns .add-img
{
	margin-right:0 !important;
}

.rent-txt
{
	width:74% !important;
	font-size:14px !important;
}

.rent-btn
{
	width:23% !important;
	font-size:16px !important;
}



.search-bg
{
	margin:150px auto 170px !important;
}

.carousel-control.left
{
	left:-20px !important;
}

.carousel-control.right
{
	right:-20px !important;
}

.details-tabs .nav-tabs li.active a
{
	padding:10px 15px !important;
}

.details-tabs .details h6
{
	font-size:14px !important;
}

}

@media (max-width: 767px)
{
	
	.header
{
	padding-bottom:40px !important;
}
	.logo
	{
		top:30px !important;
	}
	.rent-txt {
border-radius: 0;
width: 100%;
float: left;
margin-right: 0;
}
.search-bg{
	display: inline-block;
}
.rent-btn {
border-radius: 0;
width: 50%;
margin-right: 0;
float: left;
margin-top: 5px;
display: block;
}
.bg{
width:auto !important;
-webkit-background-size:  auto;
-moz-background-size: auto;
-o-background-size: auto;
-ms-background-size: auto;
background-size: auto;
height:325px !important;

}
	.header
	{
		position:relative !important;
		border:0 !important;
	}
	
	.login-div
	{
		position:absolute !important;
		top:-106px !important;
		width:100% !important;
		left:-8px !important;
	}
	
	.cart-icon
	{
		margin-top:24px !important;
	}
	
	.navbar
	{
		border:1px solid #ccc !important;
		border-radius:5px !important;
		-webkit-border-radius:5px !important;
		box-shadow:0 0 2px rgba(0, 0, 0, 0.2) !important;
		margin-bottom:10px !important;
	}
	
	.navbar-nav
	{
		width:100% !important;
		padding:0 !important;
		margin:0 !important;
	}
	
	.navbar-toggle
	{
		background:#333 !important;
		border:0 !important;
	}
	
	.navbar-default .navbar-toggle .icon-bar
	{
		background:#fff !important;
	}
	
	
	
	.footer ul , .appear
	{
		display:none !important;
	}
	
	.footer .logo
{
	text-align:center !important;
	margin:0 0 10px !important;
}

.download
{
	text-align:center !important;
}

.download p
{
	line-height:25px !important;
}

.register-icon img
{
	width:100% !important;
}

.normal-user
{
	font-size:18px !important;
}

.normal
{
	font-size:14px !important;
}

.register-bt
{
	
	margin-bottom:20px !important;
	width:100% !important;
	margin-top:30px !important;
}

.cart-img
{
	display:none !important;
}

.search-bg
{
	width:100% !important;
	margin:80px 0 !important;
}

.rent-txt
{
	font-size:10px !important;
	
}

.rent-btn
{
	width:100% !important;
}

.header-center h1
{
	font-size:16px !important;
}

.carousel-control
{
	display:none !important;
}

.sorting .pagination
{
	margin:10px 0 !important;
	float:left !important;
}

.sorting select
{
	margin-left:0 !important;
}

.pagination > li > a, .pagination > li > span
{
	padding:6px 10px !important;
}


}




/* ---- sizes --- */
.sizes{
    padding: 0;
}
.sizes li{
    float: left;
    list-style-type: none;
    margin: 0 5px 5px 0;
}

.sizes li a{
    border: 1px solid #D12B49;
    text-align: center;
    display: block;
    width: 45px;
    height: 25px;
    line-height: 25px;
    transition: all .5s ease-in-out;
}

.sizes li a:hover{
    background: #D12B49;
    border: 1px solid #f6f6f6;
    color: #FFF;
}
/* ---- sizes --- */

/* --- color --- */
.colors{
    padding: 0;
}

.colors li {
    width:25px;
    height:25px;
    float:left;
    list-style:none;
    margin: 2px;
}

.colors a {
    width:25px;
    height:25px;
    display: block;
    width: 100%;
    height: 100%;
}
/* --- color --- */
