@charset "utf-8";
/* CSS Document */

body{
font-family: 'Open Sans';
font-weight:normal;
font-size:14px;
font-style:normal;
color:#000;
}
a{
color:#333;	
}
a:hover,a:focus{
text-decoration:none;
color:#000;
outline:none;
}
.wrap{
width:95%;
margin:0 auto;	
}
header{
border-bottom: 1px solid #a6a6a6;
display: table;
width: 100%;
padding-bottom: 10px;
/*overflow:hidden;*/
}
.logo{
margin-top: 10px;	
}
.login-div{
	height: 34px;
}
.register{
	position:absolute;
	top:0;
	right:0;
	margin-left:8px;
	background:#666666;
	padding:4px 20px 10px;
	border-radius:0 0 3px 3px;
	color:#fff;
	font-weight:600;
	-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
.register:hover{
	padding:10px 20px 10px;
	color:#fff;
	text-decoration:none;
}

.zoomWrapper .slider-zoom
{
	width:578px !important;
}
.join{
	position:absolute;
	top:0;
	right:158px;
	background:#000;
	padding:4px 20px 10px;
	border-radius:0 0 3px 3px;
	color:#fff;
	font-weight:600;
	-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
}
.join:hover{
	padding:10px 20px 10px;
	color:#fff;
	text-decoration:none;
}
.join:focus{
	color:#fff;
	text-decoration:none;
	outline:none;
}

.login
{
	font-size:15px !important;
	color:#000 !important;
	font-weight:normal !important;
	float:none !important;
	opacity:1 !important;
}

.cart{
margin-top: 13px;
float:right;
}
.cart-icon{
float:right;
background:url(../../img/cloths/cart-icon.png) no-repeat center center;
color:#fff;
width:46px;
height:46px;
text-align:center;
padding-top: 23px;

	
}
.cart-icon:hover , .cart-icon:focus{
	color:#fff;
-webkit-transition: all 5s ease;
-moz-transition: all 5s ease;
-ms-transition: all 5s ease;
-o-transition: all 5s ease;
transition: all 5s ease;
}

.search-part
{
	margin-top:13px;
}

.search-part .form-inline{
float: right;
margin: 23px 30px 0 0;

}

.search-part .form-inline .form-control{
border: 1px solid #ccc;
background: #eeeeee;
box-shadow: none;
border-radius: 0;
border-left: 0;
padding-left: 0;	
}


.search-part .form-inline .input-group-addon {
padding: 4px 6px;
font-size: 20px;
font-weight: normal;
line-height: 1;
color: #555;
text-align: center;
background-color: #eee;
border: 1px solid #ccc;
border-radius: 0;
border-right: 0;
}
.modal-header{
	background:#dfa810;
	color:#000;
	padding-left: 30px;
}
.modal-header .close {
margin-top: -4px;
font-size: 32px;
opacity: 1;
font-weight: normal;
}
.modal-body{
	background: #f9f9f9;
padding: 35px 40px;
}
#join-modal .modal-body .form-control , #login-modal .modal-body .form-control{
	border-radius:0;
}
#join-modal .modal-body .form-group , #login-modal .modal-body .form-group {
margin-bottom: 20px;
}
#join-modal .modal-body .login-link a , #login-modal .modal-body .login-link a{
	text-decoration:underline;
	color:#000;
}

.login-icon img
{
	margin-right:10px;
}

.log-btn{
width: 100%;
border-radius: 0;
border: 3px solid #fff;
background: #000;
color: #fff;
-webkit-box-shadow: 0 0 0 1px #000000;
box-shadow: 0 0 0 1px #000000;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
font-weight:600;
text-transform:capitalize;
}
.log-btn:hover{

border-radius: 0;
border: 3px solid #000;
background: #fff;
color: #000;
-webkit-box-shadow: 0 0 0 1px #fff;
box-shadow: 0 0 0 1px #fff;	
font-weight:600;
}
.navbar-collapse{
	padding:0;
}
.navbar-default{
background:none;
border:0;	
}
.nav > li > a {
position: relative;
display: block;
padding: 10px 5px;
font-weight: 600;
font-size: 13px;
color:#333 !important;
text-transform:uppercase;
}
.nav > li > a img{
	margin-right: 3px;
}
.navbar{
min-height:20px;
margin:0;	
}


.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

.carousel-indicators li{
background:#fff;

border:0;
width: 12px;
height: 12px;
margin: 0px;
}
.carousel-indicators .active {
background-color: #000;
box-shadow: none;
}
.carousel-indicators {
bottom: 0;
}

.carousel-caption
{
	background:rgba(0,0,0,0.8);
	width:53%;
	left:0;
	bottom:60px;
	
}


.carousel-caption p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 25px;
  text-align: left;
  width: 75%;
  line-height:30px;
}

.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
}


.wp2 , .wp4 , .wp3, .wp1
{
	visibility:hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight
{
	visibility:visible;
}

.footer
{
	background:#000;
	padding:20px 0;
	margin-top:20px;
}

.ul-title
{
	text-transform:uppercase;
	color:#fff;
	font-size:14px;
	font-weight:700;
	line-height:30px;
}

.footer .nav > li > a
{
	color:#fff !important;
	text-transform:uppercase;
	font-weight:normal;
	font-size:13px;
	line-height:0;
}

.footer .nav-pills > li.active > a, .footer .nav-pills > li.active > a:hover, .footer .nav-pills > li.active > a:focus
{
	background:none;
	color:#ebb414 !important;
}

.footer .nav > li > a:hover, .footer .nav > li > a:focus
{
	background:none;
	color:#ebb414;
}

.isocial
{
	margin-bottom:0;
}

ul.isocial li
{
	float:left;
	width:28px;
}

ul.isocial li a {
  background-image:url(../../img/cloths/social.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  height: 29px;
  margin: 15px 0;
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  width: 28px;
}

ul.isocial li a.linkdin {
  background-position: -56px 0;
}

ul.isocial li a.linkdin:hover {
  background-position: -56px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.instagram {
  background-position: -84px 0;
}

ul.isocial li a.instagram:hover {
  background-position: -84px -27px;
 -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.google {
  background-position: -112px 0;
}

ul.isocial li a.google:hover {
  background-position: -112px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.twitter {
  background-position: -28px 0;
}

ul.isocial li a.twitter:hover {
  background-position: -28px -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

ul.isocial li a.face {
  background-position: 0 0;
}

ul.isocial li a.face:hover {
  background-position: 0 -27px;
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

.download
{
	font-size:12px;
	text-transform:uppercase;
	color:#fff !important;
	width:100%;
	text-align:right;
	padding:0;
	margin:0;
}

.download a
{
	color:#fff !important;
}



.cart-list
{
	right:0 !important;
	min-width:220px;
	height:425px;
	overflow-x:hidden;
	overflow-y:scroll;
	padding:10px;
	width:70%;
	left:auto;
	top:100px;

	
}

.cart-list li
{
	border-bottom:1px solid #ccc;
	float:left;
	width:100%;
	padding:10px 0;

}

.cart-img
{
	height:115px;
	overflow:hidden;
	border:1px solid #ccc;
}

.cart-img img
{
	width:100%;
}

.drop-name
{
	font-size:16px;
	font-weight:600;
	color:#000;
	text-decoration:underline;
	text-transform:capitalize;
	width:100%;
	float:left;
	margin-bottom:12px;
}

.cart-price , .cart-qt
{
	font-size:14px;
	color:#333;
	width:100%;
	float:left;
	text-transform:uppercase;
	line-height:10px;
}

.view
{
	color:#000;
	text-align:center !important;
	text-transform:uppercase;
}

.view a
{
	text-align:center;
	font-weight:600 !important;
}

.view a:hover
{
	background:none !important;
}
#message-modal .modal-sm , #join-modal .modal-sm , #login-modal .modal-sm 
{
	width:32%;
}
/*decor design*/

.banner
{
	position:relative;
	margin-bottom:15px;
}


.banner img
{
	width:100%;
	
}

.banner p
{
	position:absolute;
	font-size:45px;
	font-weight:700;
	text-transform:uppercase;
	text-shadow:0 0 3px rgba(0,0,0,0.7);
	color:#fff;
	top:170px;
	z-index:1000;
	width:100%;
	text-align:center;
}

.banner p span
{
	display:block;
}

.left-menu
{
	margin-top:10px;
}


.left-menu .nav
{
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 0 1px 0 rgba(0,0,0,0.1);
	padding-bottom:15px;
	margin-bottom:10px;
	
}

.left-menu .nav  > li > a
{
	padding:10px 12px;
	margin-left:20px;
	line-height:5px;
	color:#333;
	text-transform:uppercase;
	font-weight:normal;
	background:url(../../img/cloths/arrow-list.png) no-repeat left;
}

.left-menu .nav  > li > a:hover , .left-menu .nav  > li > a:focus
{
	color:#774400 !important;
}

.left-menu .nav-pills > li.active > a, .left-menu .nav-pills > li.active > a:hover, .left-menu .nav-pills > li.active > a:focus
{
	background:url(../../img/cloths/arrow-list.png) no-repeat left #fff;
	color:#774400 !important;
}

.menu-title
{
	color:#333;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	border-bottom:1px solid #ccc;
	padding:10px 20px;
	margin-bottom:10px;
        background: #f5f5f5;
        overflow: hidden;
}

.menu-title i
{
	float:right;
	font-style:normal;
}


.latets-design
{
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ccc;
	box-shadow:0 0 1px 0 rgba(0,0,0,0.1);
	padding-bottom:15px;
	margin-bottom:10px;
	padding:0;
	margin-top:10px;
	
}

.latets-design .menu-title
{
	width:100%;
	float:left;
}

.items
{
	margin-top:10px;
}

.item-design
{
	position:relative;
	margin-bottom:20px;
	height:240px;
	margin-bottom:10px;
	overflow:hidden;
	
}

.item-design img
{
	width:100%;
		-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
	
}

.item-design:hover img
{
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1)
}

.item-name
{
	position:absolute;
	text-align:center;
	top:45%;
}

.item-name a
{
	background:#e8bb83;
	border-radius:7px;
	-webkit-border-radius:7px;
	font-size:14px;
	color:#774400;
	text-transform:uppercase;
	padding:10px 50px;
	font-weight:600;
	
}

.item-design:hover a
{
	background:#774400;
	color:#e8bb83;
}

.more-btn
{
	float:right;
	border-radius:0;
	-webkit-border-radius:0;
	border:1px solid #ccc;
	box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size:18px;
	text-transform:uppercase;
	padding:7px 33px;
	margin:20px 0;
}

.more-btn:hover , .more-btn:focus
{
	background:#333;
	color:#fff;
}

.wp2 , .wp3 , .wp4
{
	visibility:hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
  visibility: visible;
}



.delay-1s {
  animation-delay: 1s;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
	background:#ff8d00;
	border:1px solid #ccc;
	border-color:#ccc;
}

.pagination > li > a, .pagination > li > span
{
	color:#774400;
	
}

.tabs
{
	margin-top:20px;
}

.tabs .nav > li > a
{
	background:#cfcfcf;
	padding:10px 40px;
	border-radius:0;
	-webkit-border-radius:0;
	color:#774400 !important;
	font-weight:normal;
	text-transform:uppercase;
	border:0;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
	
}

.tabs .nav > li > a:hover
{
	background:#e8bb82 !important;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}


.tabs .nav-tabs > li.active > a, .tabs .nav-tabs > li.active > a:hover, .tabs .nav-tabs > li.active > a:focus
{
	background:#e8bb82 !important;
}

.tabs .tab-content
{
	margin-top:10px;
}

.tabs .nav-tabs
{
	border:0;
}


.order-bt
{
	background:#e8bb82;
	color:#774400;
	padding:10px 50px;
	text-transform:uppercase;
	border-radius:0;
	-webkit-border-radius:0;
	border:0;
	float:right;
	margin:20px 0;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.order-bt:hover , .order-bt:focus
{
	background:#774400;
	color:#e8bb82;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}



.big-slide .carousel-control
{
	background:none !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	display:none !important;
}

.big-slide img
{
	width:100%;
}

.main_item_specs .form-horizontal .form-group
{
	margin:0;
}

.main_item_specs .form-horizontal .control-label
{
	text-align:left;
}

.main_item_specs .btn {
  float: right;
  margin-right: 195px;
  margin-top: 10px;
}

.main-nav .navbar-nav > li > a {
   color: #774400 !important;
  font-size: 16px;
  font-weight:normal;
  height: 45px;
  padding: 10px 13px;
  text-align: center;
  text-transform: capitalize;
}

.main-nav .navbar-nav > li > a:hover {
  background: none repeat scroll 0 0 #774400 !important;
  color: #e8bb83 !important;
  text-align: center;
}



.main-nav .navbar-nav {
  display: table;
  width: 100%;
  
}

.main-nav .navbar-nav > li > a i {
  color: #774400;
  font-size: 22px;
}

.main-nav .navbar-nav > li > a:hover i {
  color: #e8bb83;
}

.main-nav {
  background: none repeat scroll 0 0 #e8bb83;
  border-radius: 0;
  color: #774400 !important;
  font-size: 14px;
  text-transform: capitalize;
  z-index:1;
}

.small-slides 
{
	padding:0 !important;
}

.small-slides .list-inline > li
{
	margin-bottom:10px;
	padding:0 !important;
}
.dl-horizontal dt{
	width: 110px;
	text-align:left;
	font-size:16px;
	text-transform:capitalize;
	font-weight:normal;
}

.one_review {
  border-bottom: 1px solid #9b9797;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.rev_user_img {
  width: 100%;
}
.rev_user_img img {
  width: 100%;
}

.rev_username {
  float: left;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  text-align:center;
}

.order
{
	padding:0;
}


.review-bt
{
	background:#774400;
	color:#e8bb83;
	margin-bottom:10px;
}

.rev_txt {
  font-size: 14px;
}

.rev_date {
  margin-bottom: 0;
}
#gallery_01 a{
	width: 93%;
float: left;
}
#gallery_01 a img{
	width: 100%;
height: 125px;
margin-bottom: 3px;

}
.latest-product{
	float: left;
margin: 23px 0 0 0;
border: 1px solid #ccc;
padding: 6px 37px;

}

.latest-product .dropdown-menu{
top: 14px;
left: -78px;
}
.latest-product .dropdown-menu a img{
width: 50px;
height: 50px;
margin-right: 10px;
}
.ads a{
height: 200px;
overflow: hidden;
margin-bottom: 20px;

}
.ads a img{
width: 100%;

}
@media (min-width: 768px) and (max-width: 991px){
.modal-sm {
width: 400px;
margin: 70px auto;
}


.footer ul , .appear
{
	display:none !important;
}

.footer .logo
{
	text-align:center !important;
	margin:0 0 10px !important;
}

.download
{
	text-align:center !important;
}

.download p
{
	line-height:25px !important;
}

.register-bt
{
	
	margin-bottom:20px !important;
}

.add_fav
{
	left:125px !important;
}

.search-part .form-inline
{
	margin:23px 10px 0 0 !important;
}

.cart-img
{
	display:none !important;
}

.nav.profile-menu > li > a
{
	font-size:16px !important;
}

#password-modal .modal-sm
{
	width:43% !important;
}

.profile-name span
{
	font-size:14px !important;
}

.profile-name span img
{
	margin-right:2px !important;
}

.profile .prod-box
{
	width:49% !important;
}

.status
{
	width:60% !important;
}

.profile-menu .shipping-collaps a
{
	font-size:16px !important;
}

.msg-img
{
	width:18% !important;
}

.gallery-btns .edit-bt
{
	margin-top:0 !important;
}

.gallery-btns .add-img
{
	margin-right:0 !important;
}

.carousel-caption
{
	width:100%;
}

.banner p
{
	top:40px !important;
}

.item-design img
{
	width:100% !important;
}

.small-slides
{
	display:none !important;
}



}

@media (max-width: 767px)
{
		.main_menu .navbar-nav > li{
		display:block;	
		}
	.logo
	{
		top:30px !important;
	}
	
	.header
	{
		position:relative !important;
		border:0 !important;
	}
	
	.login-div
	{
		position:absolute !important;
		top:-106px !important;
		width:100% !important;
		left:-8px !important;
	}
	
	.cart-icon
	{
		margin-top:24px !important;
	}
	
	.navbar
	{
		border:1px solid #ccc !important;
		border-radius:5px !important;
		-webkit-border-radius:5px !important;
		box-shadow:0 0 2px rgba(0, 0, 0, 0.2) !important;
		margin-bottom:10px !important;
	}
	
	.navbar-nav
	{
		margin:7.5px 12px !important;
	}
	.main_menu .navbar-nav
	{
		margin:0 !important;
	}
	.navbar-toggle
	{
		background:#333 !important;
		border:0 !important;
	}
	
	.navbar-default .navbar-toggle .icon-bar
	{
		background:#fff !important;
	}
	
	
	
	.footer ul , .appear
	{
		display:none !important;
	}
	
	.footer .logo
{
	text-align:center !important;
	margin:0 0 10px !important;
}

.download
{
	text-align:center !important;
}

.download p
{
	line-height:25px !important;
}

.register-icon img
{
	width:100% !important;
}

.normal-user
{
	font-size:18px !important;
}

.normal
{
	font-size:14px !important;
}

.register-bt
{
	
	margin-bottom:20px !important;
	width:100% !important;
	margin-top:30px !important;
}

.cart-img
{
	display:none !important;
}
.cart-list{
top:90px;	
}
.ad1{
display:none;	
}
.product-row .col-md-3{
width: 50%;
float: left;	
}
.product-row .col-md-3 .products{
	border:0;
}
.main_menu .navbar{
border:0 !important;	
}

.search-part .form-inline {
  float: left !important;
  margin: 48px 0 0 !important;
}

.search-part .form-inline .form-control {
  width: 170px !important;
}

.banner p
{
	top:22px !important;
	font-size:18px !important;
}

.item-design img
{
	width:100% !important;
}

.tabs .nav > li > a
{
	font-size:12px !important;
	padding:10px 6px !important;
}



}

.price_tag
{
    background:#eee;
    padding:10px 15px;
    position:absolute;
    bottom:0;
    width:100%;
    border:1px solid #ccc;
    border-top:none;
}

.item_price
{
    width:100%;
    color:#d12b49;
    font-size:18px;
    text-align:center;
    float:left;
    margin:0;
    font-family:'open_sanssemibold';
}
.item_before_price
{
    width:50%;
    color:#666;
    font-size:16px;
    text-align:center;
    text-decoration:line-through;
    float:left;
    margin:0;
}

.main_item_price
{
    color:#666;
    font-size:22px;
    font-weight:bold;
    text-transform:uppercase;
    display:inline-block;
    float:right;
    font-family:'open_sanssemibold';
    margin-top:15px;
}